## Objectives


- Gain familiarity with Jupyter notebooks
- Use and manipulate various data types
- Create, assign, and update variables
- Represent information with data types
- Use Boolean operators 
- Create and modify strings with string methods
- Create tuples
- Create dictionaries

[Reference](https://ds.codeup.com/python/data-types-and-variables/)

#### ---
## Data Types


| Data type | Description |
|:-: |----------|
| `bool`|   Boolean values (True or False) |
| `str`  |  whole, or counting numbers |
| `float`|  decimal numbers |
| `list`| an ordered sequence of objects |
| `dict`| a collection of named values
| `NoneType` |  indicates absence of a value


###  `type` function

Returns the data type of an object. 

```python
type(object)
```

### Examples

In [1]:
type(123)

int

In [2]:
type(123.0)

float

In [3]:
type('Hello')

str

In [4]:
type(True)

bool

In [5]:
type('True')

str

---

## Variables

### Assigning a variable

In [6]:
favorite_number = 42
n = favorite_number + 7

In [7]:
type(favorite_number)
print(favorite_number)

42

In [8]:
print(favorite_number)

42

In [9]:
print(n)

49

#### Troubleshooting

What is the result of the following code?

```python
a = 6
print(a + b)
b = 4
```

### Updating a variable

In [10]:
x = 1
print (x)
# Add 1 to the value of x
x = x + 1
print (x)
x = x * 3 + x
print (x)

1
2
8

#### Example: Running a cell multiple times

In [12]:
number = 6

In [17]:
number = number + 1
print(number)

11

## Boolean values


There are two Boolean values: `True` and `False`

**Note:** A Boolean value is not a string

```python
type(True)
```
```
bool
```

```python
type('True')
```
```
str
```

## Comparison operators 



#### Checks for equality
```python
==
```



#### Checks for inequality
```python
!=
```

In [18]:
True == True

True

True == False

In [19]:
True != True

False

In [20]:
True != False

True

In [21]:
5 == 4 + 1

True

In [22]:
5.0 == 5

True

In [23]:
'Hello' == 'hello'

False

In [25]:
'Hello' == 'Hello '

False

### Examples

## Boolean Operators


Boolean operators evaluate statements and return a Boolean value.


#### `not` statements - also known as a negation


Returns the opposite Boolean value

| A | not A 
|:-: | :-:| 
| T | F |
| F | T |



For two statements **A** and **B**

#### `and` statement - also known as a *conjunction*


    
    

| A | B | A and B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | F | 
| F | T | F | 
| F | F | F | 



#### `or` statement - also known as a *disjunction*

    

| A | B | A or B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | T | 
| F | T | T | 
| F | F | F |

In [28]:
is_first_of_the_month = True
report_has_been_sent = False

should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

True

In [29]:
is_first_of_the_month = False
report_has_been_sent = False

should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

False



## Numbers

Two commonly used number types:


`int` - Whole numbers (both positive and negative) and 0

`float` - Numbers with decimals

####  Arithmetic Operations

| Operation      | Operator | Example  |
| ---------      | -------- | -------  |
| Addition       | `+`      | `4 + 4`  |
| Subtraction    | `-`      | `9 - 1`  |
| Multiplication | `*`      | `4 * 2`  |
| Division       | `/`      | `16 / 2` |
| Exponentiation | `**`     | `2 ** 3` |



####  Comparison Operations

| Operator | Description              | Example  |
| -------- | -----------              | -------  |
| `==`     | Equal to                 | `1 == 1` |
| `!=`     | Not equal to             | `1 != 0` |
| `>`      | Greater than             | `1 > 0`  |
| `<`      | Less than                | `0 < 1`  |
| `>=`     | Greater than or equal to | `1 >= 1` |
| `<=`     | Less than or equal to    | `1 <= 1` |

### Examples

In [26]:
5 > 6

False

In [27]:
5 >= 5

True

---
## Strings

Strings represent text and are enclosed by quotes.



```python
'A string in single quotes'
```



```python
"A string in double quotes"
```



```python
'''A multi-line
string in
triple quotes'''
```

### Examples

In [30]:
print('Here is a single quote --> \' <-- ')
print("Here is a single quote --> ' <-- ")
print()
print("Here is a double quote --> \" <--")
print('Here is a double quote --> " <--')
print()
print('Newlines are indicated by the character "n" preceded by a backslash, like so')
print()
print('This string\ncontains a newline')

Here is a single quote --> ' <--
Here is a single quote --> ' <--

Here is a double quote --> " <--
Here is a double quote --> " <--

Newlines are indicated by the character "n" preceded by a backslash, like so

This string
contains a newline

### Operations with strings

In [31]:
'abc' + 'def ' + 'ghi'

'abcdef ghi'

In [32]:
'abc' * 3

'abcabcabc'

### Examples

### Formatting strings

In [33]:
my_name = 'Corey'

In [36]:
'Hello, %s! How are you?' % my_name # %s is placeholder for a string, % variable name will replace it

'Hello, Corey! How are you?'

In [40]:
'Hello, {}! format(my_name)

SyntaxError: EOL while scanning string literal (2937839703.py, line 1)

### Examples

### String methods

A string method does not modify the original string. 

Assign the result to a new variable or update the string to use the modified string. 



| Data type | Description |
|:-: |----------|
| `.lower`|  convert to lower case
| `.upper`|  convert to upper case
| `.strip`  |  remove leading or trailing whitespace
| `.isdigit`|  tests whether a string is a number |
| `.split`| converts a string to a list |
| `.join`| converts a list to a string

### Examples

In [41]:
s = '      Hello, world!    '

In [42]:
s.lower()

'      hello, world!    '

In [43]:
print(s)  # note the method .lower() doesn't change underlying variable

      Hello, world!

In [46]:
a = '123'

In [47]:
a.isdigit() # useful to see if a string could also represent a number

True

In [48]:
b = '123gb' # notice this is false

In [49]:
b.isdigit()

False

In [51]:
c = '123, Main, Street'

In [52]:
c.split(', ')

['123', 'Main', 'Street']

In [53]:
d = '123, Main, Street'

In [54]:
d.lower().split(', ')  # can combine methods like this

['123', 'main', 'street']

In [56]:
', '.join(['one', 'two', 'three'])  # must feed .join() a list in square brackets

'one, two, three'

---

## Lists

### Creating a list

In [58]:
number_list = [1, 2, 3]  # A list with three integers
print(number_list)

[1, 2, 3]

In [59]:
string_list = ['one', 'two', 'three']

In [60]:
string_list

['one', 'two', 'three']

In [61]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### List comprehensions

In [62]:
[n for n in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
[n * 2 for n in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [64]:
[n * 2 for n in range(10) if n % 2 == 0]

[0, 4, 8, 12, 16]

### List Operations

In [75]:
numbers = [1, 2, 3]

In [76]:
## Add 4 to the list
numbers.append(4)  ## these are not methods because they do change the underlying object
numbers

[1, 2, 3, 4]

In [77]:
numbers.pop()

4

In [78]:
len(numbers)

3

In [79]:
## Indexing. Here we are specifying the third item in list. Python counts from zero.

numbers[2]

3

In [80]:
numbers[:2]

[1, 2]

In [81]:
letters = ['a', 'b', 'c', 'd', 'e']

In [82]:
len(letters)

5

In [84]:
letters[:2]  ## this 'slice' retrieves from the beginning
## of list up to but not including the third element.

['a', 'b']

In [85]:
letters[1:3] ## left side of slice is inclusive, the right is not -- so this retrieves 
## the second and third elements of the list

['b', 'c']

In [86]:
letters[1:]

['b', 'c', 'd', 'e']

In [87]:
list('a bc de') ## convertring to a list

['a', ' ', 'b', 'c', ' ', 'd', 'e']

In [88]:
# Make a list from 0 to 9
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [90]:
my_numbers = [1, 2, 3]

list(map(str, my_numbers))

['1', '2', '3']

In [91]:
str(my_numbers) # if we apply str to a list, it makes a string of the whole list

'[1, 2, 3]'

---

## Tuples

In [92]:
my_tuple = (1, 2, 3)

In [93]:
type(my_tuple)

tuple

In [94]:
my_tuple[1]

2


---

## Dictionaries

In [95]:
my_dictionary = {
    'name' : 'Codeup',
    'age'  : 9
    
}

In [96]:
dict(name = 'Codeup', age = 9)  # this produces the same dict as the previous block

{'name': 'Codeup', 'age': 9}

### Creating a dictionary

In [97]:
my_new_dict = dict(name = 'Codeup', age = 9)

In [98]:
my_new_dict

{'name': 'Codeup', 'age': 9}

### Accessing dictionary values

In [99]:
school = dict(name = 'Codeup', age = 9)

In [100]:
school['name'] # we retrieve a dict entry by using dict name and the ['key']

'Codeup'

In [101]:
my_new_dictionary = {
    
    9 : 'age',
    
}

In [102]:
my_new_dictionary[9]

'age'

In [103]:
school['age'] += 1 # dictionaries can be updated!

In [ ]:
# Take the value of 'age'
# Add 1
# Update the dictionary

In [104]:
school

{'name': 'Codeup', 'age': 10}

## Changing data types

```python
int()
```

```python
str()
```

### Examples

In [105]:
a = 3
type(a)

int

In [106]:
str(a)

'3'

In [108]:
b = '6'
b = int(b)
type(b)

int

### Getting user input with `input`

```python
name = input('What is your name?')
print(name)
```

In [109]:
name = input('What is your name ')

What is your name Corey

In [110]:
f'Hello, {name}!'

'Hello, Corey!'

In [111]:
first_number = int(input('What is the first number? '))
second_number = int(input('What is the second number? '))

What is the first number? 4
What is the second number? 3