In [ ]:
# 1.  Identify the data type of the following values:

In [1]:
type(99.9)

float

In [2]:
type("False")

str

In [3]:
type(False)

bool

In [4]:
type('0')

str

In [5]:
type(True)

bool

In [6]:
type('True')

str

In [7]:
type([{}])

list

In [8]:
type({'a': []})

dict

In [10]:
# 2. What data type would best represent the following?
    # A term or phrase typed into a search box: String
    # Whether or not a user is logged in: Boolean
    # A discount amount to apply to a user's shopping cart: Float
    # Whether or not a coupon code is valid: Boolean
    # An email address typed into a registration form: String
    # The price of a product: Float
    # The email addresses collected from a registration form: Dictionary
    # Information about applicants to Codeup's data science program: Dictionary

In [ ]:
# 3. For each of the following code blocks:
    # Read the expression and predict the evaluated results
    # Execute the expression in a Python REPL

In [11]:
'1' + 2
# error

TypeError: can only concatenate str (not "int") to str

In [12]:
6 % 4
# 2

2

In [13]:
type(6 % 4)
# int

int

In [14]:
type(type(6 % 4))
# str

type

In [15]:
'3 + 4 is ' + 3 + 4
# error

TypeError: can only concatenate str (not "int") to str

In [16]:
0 < 0
# False

False

In [17]:
'False' == False
# False

False

In [18]:
True == 'True'
# False

False

In [19]:
5 >= -5
# True

True

In [20]:
True or "42"
# error

True

In [21]:
6 % 5
# 1

1

In [22]:
5 < 4 and 1 == 1
# False

False

In [23]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'
# False

False

In [24]:
4 >= 0 and 1 !== '1'
# error

SyntaxError: invalid syntax (864988731.py, line 1)

In [25]:
6 % 3 == 0
# True

True

In [26]:
5 % 2 != 0
# True

True

In [27]:
[1] + 2
# error

TypeError: can only concatenate list (not "int") to list

In [28]:
[1] + [2]
# [1, 2]

[1, 2]

In [29]:
[1] * 2
# error

[1, 1]

In [30]:
[1] * [2]
# error

TypeError: can't multiply sequence by non-int of type 'list'

In [31]:
[] + [] == []
#error

True

In [32]:
{} + {}
# error

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [33]:
# 4. For exercises 5-8 write Python code to describe the scenarios:

In [38]:
# 5. You have rented some movies for your kids:

    # The Little Mermaid for 3 days
    # Brother Bear for 5 days
    # Hercules for 1 day
    
    # If the daily fee to rent a movie is 3 dollars, how much will you have to pay?
    
the_little_mermaid = 3
brother_bear = 5
hercules = 1
cost_movie_day = 3

total_cost = sum([the_little_mermaid, brother_bear, hercules]) * cost_movie_day
print(total_cost)

27

In [43]:
# 6. Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.

    #They pay you the following hourly rates:

        # Google: 400 dollars
        # Amazon: 380 dollars
        # Facebook: 350 dollars
        
    # This week you worked: 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

#How much will you receive in payment for this week?

google_wage = 400
amazon_wage = 380
facebook_wage = 350

google_hours = 6
amazon_hours = 4
facebook_hours = 10

total_weekly_pay = google_wage * google_hours \
+ amazon_wage * amazon_hours + facebook_wage * facebook_hours
print (total_weekly_pay)

7420

In [47]:
# 7.  A student can be enrolled to a class only if the class 
    # is not full and the class schedule does not conflict with 
    # her current schedule.
    
class_is_not_full = True # enter true if class not full, false if is full
no_schedule_conflict = True # enter true if no conflict, false if conflict
student_can_be_enrolled = class_is_not_full and no_schedule_conflict

if student_can_be_enrolled == True:
    print('student can take the class')
else:
    print('student cannot takle the class')

student can take the class

In [71]:
# 8.  A product offer can be applied only if people buy more than 2 items, 
    # and the offer has not expired. Premium members do not need to buy a 
    # specific amount of products.
    
qty = int(input('How many items are in the cart? '))
offer_not_expired = bool(int(input('Offer is not expired --> Enter 1 \nOffer expired --> Enter 0 ')))
is_member = bool(int(input('If a member --> Enter 1\nNot a member --> Enter 0 ')))    
can_offer_be_applied = ((qty >= 2) and offer_not_expired) or is_member
if can_offer_be_applied == True:
    print('Offer can be applied!')
else:
    print('Suck it up and pay retail!')

How many items are in the cart? 2
Offer is not expired --> Enter 1
Offer expired --> Enter 0 1
If a member --> Enter 1
Not a member --> Enter 0 0
Offer can be applied!

In [84]:
# 9. Continue working in the data_types_and_variables.py file. 
    # Use the following code to follow the instructions below:
    
username = 'codeup'
password = 'notastrongpassword'

#Create a variable that holds a boolean value for each of the following conditions:

    # The password must be at least 5 characters
    # The username must be no more than 20 characters
    # The password must not be the same as the username
    # Bonus Neither the username or password can start or end with whitespace
    
pass_at_least_five = len(password) >= 5
user_20_or_less = len(username) <= 20
user_not_equal_pass = username != password
no_whitespace = username.find(" ") == -1 and password.find(" ") == -1

In [83]:
pass_at_least_five

False

In [81]:
user_20_or_less

False

In [85]:
user_not_equal_pass

False

In [79]:
no_whitespace

False

In [ ]:
valid_credentials = pass_at_least_five and user_20_or_less and user_not_equal_pass and no_whitespace